b {
	font-weight: bold;
}

em {
	font-style: italic;
}

div.filters {
	display: inline-block;
}

.filter {
	background-color: #e0ecf1;
	inline-block;
	padding: 2px 4px;
	border-radius: 10px;
	margin-right: 4px;
}

	.filter:hover {
		background: #C6E2EE;
	}

	.filter a {
		visibility: hidden;
		background-color: white;
		border-radius: 10px;
		display: inline-block;
		padding: 0 4px;
		cursor: pointer;
	}

	.filter:hover a {
		visibility: visible;
	}

.facets-wrapper br {
	font-size: 1px;
	height: 1px;
}

.facets {
	display: inline-block;
}

ul.facets {
	margin: 0;
	padding-left: 0;
}

p.facets {
	margin: 0;
}

.facets li {
	display: inline;
}

.facets li {
	border-left: 1px solid #888;
	padding-left: 4px;
}

	.facets li:first-child {
		border-left-width: 0;
		padding-left: 0;
	}

.facets a {
	cursor: pointer;
}

h4 > .size {
	font-weight: normal;
	font-size: smaller;
}

ul.autocomplete-popup {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border: 1px solid #000;
	list-style: none;
	padding-left: 0;
	margin: 0;
	background: #fff;
}

	ul.autocomplete-popup > li {
	}

		ul.autocomplete-popup > li > a {
			display: block;
		}

			ul.autocomplete-popup > li > a:hover, ul.autocomplete-popup > li.selected > a {
				background-color: #EEE;
			}

ul.pagination {
	list-style: none;
	float: right;
	clear: both;
}

	ul.pagination li {
		display: inline-block;
		float: left;
		padding: 0 0.25ex;
	}

.stars-bg {
	background-color: #DDD;
	width: 80px;
	height: 16px;
	float: left;
	clear: left;
	margin-right: 8px;
}

.stars-bar {
	background-color: red;
	height: 16px;
}

.stars {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAQCAYAAACBSfjBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDQTY3NTcyOURGNDExMUUzQTgyMjlEQ0IwOThBMzQ3MyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDQTY3NTcyQURGNDExMUUzQTgyMjlEQ0IwOThBMzQ3MyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNBNjc1NzI3REY0MTExRTNBODIyOURDQjA5OEEzNDczIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNBNjc1NzI4REY0MTExRTNBODIyOURDQjA5OEEzNDczIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+wSWZsAAAAcxJREFUeNrsmL9Lw0AUx5MUXUUHKUUHi2MHBQdxExRnOynopFM3cXNSUP8ERRedFXFxcXJTcdFVhGpRXPyFbpVK/B68wnFc7i55eFn8wock9/LNt1xz70rDGAqSdUrHqSCbNum4ktHPzf9zf2iYwB8wDET9BhRShn+DLjr/BJ0p/dx8P/44WbtibomdOL3mJf9cBj8334s/aQK/QFF6QJHGXPUMIskf0ZiruPne/LoJbICaZG5To5pNF6Ci8VeoZhM336tf9MAjrORzWufX4N3SG3qoNwyBMXAJzkAdfFDPMCkE3aAMxsEoMz/I0y8m8AQnVWr6aSQ2hWNwBdYy7nKrYISZH+fqpzfxABQ0r20S4t5D6U1eSuFtsyz5ufm5+eUeuEdL2mYW9+xresdCig+wqPFz83Pxq5vIusMDNgwNeMLBP2nwc/O9+yNlXfc7rP0+Q63s4B8w1Lj53v3qBNYdHvBgqN06+O8MNW6+d786gffKdS9hukfWk3IdaTIeDX5uvnd/lDC7g2ALNIhtGrN9S6907AAz4I2YpTGhF4dvN2u+f7/SRKu0pbc0DbZFtWlDEy7RT5qmptakWsng5+Z794eWv7P+ZdGvAAMAIXU/N9hw4xUAAAAASUVORK5CYII=);
	width: 80px;
	height: 16px;
}

.icon {
	float: left;
	margin-right: 8px;
}
